Repository lisonge/vite-plugin-switch-hosts: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema.json, eslint --fix, prettier --write

test: add release example
  package.json
  src/inject_template.ts
  test/example-online/.gitignore
  test/example-online/README.md
  test/example-online/favicon.svg
  test/example-online/index.html
  test/example-online/package.json
  test/example-online/pnpm-lock.yaml
  test/example-online/public/favicon.ico
  test/example-online/public/login.png
  test/example-online/src/env.d.ts
  test/example-online/src/main.ts
  test/example-online/tsconfig.json
  test/example-online/vite.config.ts
Due: eslint --fix, prettier --write

test: update version
  test/example-online/package.json
  test/example-online/pnpm-lock.yaml
Due: prettier --write

feat: generate typeScript declaration maps
  tsup.config.ts
Due: none

feat: v0.0.3
  package.json
Due: prettier --write

feat: according to clientId to enable switch-hosts
  src/inject_template.ts
Due: eslint --fix, prettier --write

docs: update
  .github/workflows/release.yml
  README.md
  src/index.ts
Due: eslint --fix, prettier --write

docs: v0.0.4
  CHANGELOG.md
  package.json
Due: prettier --write

docs: v0.0.5
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add redirected url to header
  src/index.ts
Due: eslint --fix, prettier --write

ci: del preinstall limit
  package.json
Due: prettier --write

docs: update
  CHANGELOG.md
Due: prettier --write

ci: del engines limit
  package.json
Due: prettier --write

fix: req incomplete
  src/inject_template.ts
Due: eslint --fix, prettier --write

fix: del set-cookie
  src/index.ts
Due: eslint --fix, prettier --write

docs: new version
  CHANGELOG.md
  package.json
Due: prettier --write

Path conditions:
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  eslint --fix: any of: src/**/*.{js,ts}
  prettier --write: (any of: src/**/*.{js,ts}) or (any of: *.{json,md})
